<h1>Tummy Guard</h1>
<h2>Enjoy your food with confidence!</h2>

<div>
  <button type="button" id="get_loc">Check restaurant nearby</button>
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
$(document).ready(function () {
  $("#get_loc").on("click", function(e) {
    e.preventDefault();
    navigator.geolocation.getCurrentPosition(function(position) {
      console.log(position);
    });
  });
});
</script>
