    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Tummy Guard</h3>
      </div>

      <div class="jumbotron" id="get_loc">
        <h1>Love Your Tummy & Enjoy Food</h1>
        <p class="lead">Your tummy thanks you!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Activate Protection</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Jimmy Johns</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>McDonalds</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Taco Bell</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
<div id="get_loc">
  <button type="button" >Check restaurant nearby</button>
</div>
<div id="location_data">
</div>

      <div class="footer">
        <p>&copy; TummyGuard 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
//$(document).ready(function () {
//  $("#get_loc").on("click", function(e) {
//    e.preventDefault();
//    navigator.geolocation.getCurrentPosition(function(position) {
//      console.log(position);
//    });
//  });
//});

    $(document).ready(function() {
        var restaurants = [{"restaurant":"Jimmy Johns", "passed":"true"},
            {"restaurant":"McDonalds", "passed":"false"},
            {"restaurant":"Taco Bell", "passed":"true"}];

        $("#get_loc button").on("click", function(e) {
            $("#location_data").empty();
            jQuery.each( restaurants, function( val ) {
                $("#location_data").append('<p><span style="color:'+fontColor(restaurants[val].passed)+'">'
                        +restaurants[val].restaurant+'</span>');
            });

        });
    });

    function fontColor(passed){
        if(passed == "true"){
            return "green";
        } else {
            return "red";
        }
    }
</script>
